/*Primera pagina */
.bodyCenter{
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1, p, input, button {
  margin: 10px;
}
/**/

